.mMenu{
     width: 100%;
}

.main {
     width: 580px;
}

.allChats {
    /* width: 580px; */
    margin: 5.1% 0 0 0;
}


.aChatTitle {
     display: flex;
     height: 5.6vh;
     /* margin: 0 14px 0 0; */
     justify-content: space-between;
}

.aMenu {
     display: none;
     position: relative;
     width: 40px;
     height: 40px;
     background: #fff;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
     display: none;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     overflow: hidden;
     margin-left: 10px;
}

.aMenu span {
     position: absolute;
     width: 20px;
     height: 2px;
     background: #1862ff;
     border-radius: 4px;
     transition: 0.5s;
}

.aMenu span:nth-child(1) {
     transform: translateY(-8px);
     width: 13px;
     left: 10px;
}

.aMenu.active span:nth-child(1) {
     width: 20px;
     transform: translateY(0px) rotate(45deg);
     transition-delay: 0.125s;
}

.aMenu span:nth-child(2) {
     transform: translateY(8px);
     width: 7px;
     left: 10px;
}

.aMenu.active span:nth-child(2) {
     width: 20px;
     transform: translateY(0px) rotate(315deg);
     transition-delay: 0.25s;
}

.aMenu.active span:nth-child(3) {
     transform: translateX(40px);
}

.ChatSort {
     display: grid;
     font-weight: 700;
     font-size: 36px;
     align-content: center;
}

.reChat {
     width: 140px;
     font-size: 18px;
     color: #707C97;
     font-weight: 700;
     border: none;
     background: none;
}

.tButton {
          width: 240px;
          height: 61.65px;
          color: white;
          border: none;
          display: flex;
          background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
          box-shadow: 6px 6px 25px rgb(42 139 242 / 15%), 4px 4px 25px rgb(42 139 242 / 5%), 10px 6px 25px rgb(42 139 242 / 15%);
          border-radius: 6px;
          font-size: 20px;
          line-height: 24px;
          align-content: center;
          align-items: center;
          justify-content: space-evenly;
}

.tButton::before {
     content: "+";
     font-weight: 200;
     font-size: 35px;
}

@media (max-width: 600px){
     .mMenu{
          display: flex;
     }

     .main {
          width: 100%;
     }

     .ChatSort {
          font-size: 32px;
     }

     .reChat {
          font-size: 17px;
     }

     .tButton {
          height: 2.5rem;
          width: 8.5rem;
          font-size: 14px;
     }

     .tButton::before{
          font-size: 14px;
     }

     .aMenu {
          display: flex;
          z-index: 3;
     }

     .aSIput {
          font-size: 14px;
     }

     .allChats .aSearch {
          height: 3rem;
     }

     .mMenu{
          overflow: hidden;
     }

     .mMenu  .panel {
          transform: translateX(-13rem);
          transition: 0.5s;
          z-index: 1;
     }

     .mMenu.show .panel{
          transform: translateX(0rem);
          z-index: 1;
     }
} 

.tbAdd {
     height: 20px;
     margin: 0px 6%;
}

.aSearch {
     display: flex;
     margin: 24.66px 0 0 0;
     border-radius: 6px;
     background: white;
     height: 71.93px;
     /* box-shadow: 0px 10px 55px rgb(0 0 0 / 5%), 0px 4px 10px rgb(0 0 0 / 25%), 0px 10px 25px rgb(0 0 0 / 5%); */
     justify-content: space-between;
}

.aItemSearch {
     display: flex;
     align-items: center;
     /* gap: 6px; */
 }

.aSeIcon {
     color: #707C97;
     height: 25px;
     width: 25px;
 }

.aSIput {
     height: 100%;
     border: none;
     background: none;
     font-size: 16px;
     font-weight: 700;
     color: #707C97;
     padding-left: 18%;
}

input:focus ,
select:focus {
     outline: none !important;
 }

.aSFilter {
     color: #707C97;
     font-weight: bold;
     font-size: 18px;
     width: 148px;
     border: none;
     background: none;
     border-left: 2px solid #F3F3FB;
     padding: 0 0 0 5%;
     margin: 0 7% 0 0;
 }

.aContactAcc {
     display: grid;
     /* width: 597px; */
     margin: 20px 0 0;
     overflow: auto;
     gap: 20px;
}

::-webkit-scrollbar {
     width: 6px;
}
   
   /* Track */
::-webkit-scrollbar-track {
     background: none;
}
   
   /* Handle */
::-webkit-scrollbar-thumb {
     background: #B7BDCB;
     border-radius: 10px;

}
   
   /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #555;
}

::-webkit-scrollbar-button { 
     /* height: 136px;  */
   }

.scrollable-div {
     overflow: auto;;
}

